*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/pattern-background-desktop.svg") no-repeat;
  background-size: contain;
  background-color: #e0e8ff;
}
@media screen and (max-width: 375px) {
  body {
    background: url("../images/pattern-background-mobile.svg") no-repeat;
    background-color: #e0e8ff;
  }
}
body div.card_order {
  background-color: white;
  width: 24rem;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  font-family: "Red Hat Display", sans-serif;
  box-shadow: 0px 12px 14px 2px #e0e8ff;
  transition: 0.3s;
}
@media screen and (max-width: 375px) {
  body div.card_order {
    width: 20rem;
  }
}
body div.card_order img {
  width: 100%;
}
body div.card_order div.card_infos {
  margin: 3rem 2rem;
}
body div.card_order div.card_infos h1.card_title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #1f2f56;
}
body div.card_order div.card_infos p.card_description {
  font-size: 0.9rem;
  line-height: 21px;
  color: #7280a7;
}
body div.card_order div.card_infos h1.card_title, body div.card_order div.card_infos p.card_description {
  text-align: center;
  margin: 1.5rem 0;
}
body div.card_order div.card_infos div.card_music_plan {
  text-align: initial;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background-color: #f5f7ff;
  padding: 1rem 0;
}
body div.card_order div.card_infos div.card_music_plan img {
  width: 40px;
  border-radius: 50%;
  margin: 0 1rem;
}
body div.card_order div.card_infos div.card_music_plan div.infos_plan {
  flex-grow: 1;
}
body div.card_order div.card_infos div.card_music_plan div.infos_plan h2.info_type {
  font-weight: 700;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
body div.card_order div.card_infos div.card_music_plan div.infos_plan p.info_price {
  color: #7280a7;
  font-size: 0.9rem;
}
body div.card_order div.card_infos div.card_music_plan a {
  font-size: 0.8rem;
  margin: 0 1rem;
}
body div.card_order div.card_infos div.card_music_plan a:hover {
  filter: brightness(200%);
  text-decoration: none;
}
body div.card_order div.card_infos button {
  background-color: #3829e0;
  width: 100%;
  font-weight: 700;
  padding: 0.7rem 0;
  color: #e0e8ff;
  border-radius: 9px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 1.5rem 0;
  box-shadow: 0px 12px 14px 2px #e0e8ff;
}
body div.card_order div.card_infos button:hover {
  filter: brightness(200%);
  box-shadow: 0px 12px 14px 2px #e0e8ff;
}
body div.card_order div.card_infos a.card_payment_cancel {
  text-decoration: none;
  color: #7280a7;
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0rem;
  color: #1f2f56;
}
body div.card_order div.card_infos a.card_payment_cancel:hover {
  color: #1f2f56;
}
body div.card_order div.card_infos button, body div.card_order div.card_infos a {
  cursor: pointer;
  transition: 0.3s;
}
body div.attribution {
  font-family: "Red Hat Display", sans-serif;
  position: absolute;
  bottom: 1rem;
  text-align: center;
}
@media screen and (max-width: 375px) {
  body div.attribution {
    bottom: 0rem;
  }
}